# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [23]:
print("My name is Mike Wu")

My name is Mike Wu

<font size = "5">

Import the "pandas" and "numpy" library

In [24]:
# Write your answer here:

import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [25]:
# Write your own code
students = pd.read_csv("data_raw/students.csv")

bins = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A']

students['lettergrade'] = pd.cut(students['numericgrade'], bins=bins, labels=labels, right=False)

print(students)

    studentid  numericgrade lettergrade
0           1            61          C-
1           2             0           F
2           3            14           F
3           4            57           D
4           5            72          C+
5           6            93           A
6           7            40           F
7           8            11           F
8           9             3           F
9          10            63          C-
10         11             7           F
11         12            46           F
12         13            75          B-
13         14            95           A
14         15            22           F
15         16            40           F
16         17            53           F
17         18            57           D
18         19            82          B+
19         20            50           F
20         21             8           F
21         22            87          A-
22         23            82          B+
23         24            30           F
24         25            62          C-

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [26]:
# Write your own code
results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [27]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
data_types = results.dtypes
print(data_types)

time_data_type = results['time'].dtype
print(f"The data type of the 'time' column is: {time_data_type}")

if time_data_type == 'object':
    print("The 'time' column type agrees with the codebook.")
else:
    print("The 'time' column type does not agree with the codebook.")

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object
The data type of the 'time' column is: object
The 'time' column type agrees with the codebook.

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [28]:
# Write your own code here

results = pd.read_csv("data_raw/results.csv")
non_numeric_subset = results.query('milliseconds.str.isnumeric() == False')
list_unique_non_numeric = pd.unique(non_numeric_subset['milliseconds'])
print(list_unique_non_numeric)
results['milliseconds'] = results['milliseconds'].replace('\\N', np.nan)
results['milliseconds'] = pd.to_numeric(results['milliseconds'], errors='coerce')
print(results['milliseconds'])

['\\N']
0        5690616.0
1        5696094.0
2        5698779.0
3        5707797.0
4        5708630.0
           ...
25835          NaN
25836          NaN
25837          NaN
25838          NaN
25839          NaN
Name: milliseconds, Length: 25840, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [30]:
# Write your own code
df_aggCon_pos = results.groupby('constructorId')['laps'].agg(['mean', 'std'])
df_aggCon_pos = df_aggCon_pos.sort_values('mean', ascending=False)
print(df_aggCon_pos)

                     mean        std
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [36]:
# Write your own code
results['position'] = pd.to_numeric(results['position'], errors='coerce')
filtered_results = results.query('raceId >= 150')
df_subAggCon_pos = filtered_results.groupby('constructorId')['position'].agg(['mean', 'std'])
print(df_subAggCon_pos)

                    mean       std
constructorId
1               6.121634  4.294358
3               7.983836  5.509701
4               8.617834  4.388534
5              11.430868  3.157308
6               4.733661  3.395834
...                  ...       ...
209            16.333333  2.420002
210            13.293860  3.770574
211             9.230769  4.030234
213            10.519608  3.842777
214             8.763158  3.354076

[203 rows x 2 columns]